.react-switch-checkbox {
    height: 0;
    width: 0;
    visibility: hidden;
  }


  .react-switch-checkbox:active {
    height: 0;
    width: 0;
    visibility: hidden;
  }
  
  .react-switch-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 230px;
    height: 100px;
    /* background: grey; */
    border-radius: 200px;
    position: relative;
    transition: background-color .2s;
    background-image: url("../pics/1.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  


  
  .react-switch-label .react-switch-button {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 90px;
    height: 90px;
    border-radius: 90px;
    transition: 0.35s;
    background: #fff;
    box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
  }
  



  .react-switch-checkbox:checked + .react-switch-label .react-switch-button {
    left: calc(100% - 4px);
    transform: translateX(-100%);

  }


  .react-switch-checkbox:checked + .react-switch-label  {
    background-image: url("../pics/2.png");
    background-repeat: no-repeat;
    background-size: cover;

  }
 
  



  .react-switch-label:active .react-switch-button {
    width: 100px;
  }


